@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

:root {
  --mainPurple: #4a1962;
  --purpleGradient: linear-gradient(
    23deg,
    rgba(74, 25, 98, 1) 54%,
    rgba(33, 6, 64, 1) 100%
  );
  --mainWhite: #ffffff;
  --neonGreen: #00e06d;
  --secondaryText: #575656;
  --boxShadowGrey: #eee;
  --mainRed: #d81159;
  --secondaryRed: #db1f63;
  --secondaryRed: #c41856;
}

@font-face {
  font-family: "TTNorms-Regular.otf";
  src: url("/fonts/TTNorms-Regular.otf") format("opentype");
}
@font-face {
  font-family: "TTNorms-Medium.otf";
  src: url("/fonts/TTNorms-Medium.otf") format("opentype");
}

@font-face {
  font-family: "TTNorms-Bold.otf";
  src: url("/fonts/TTNorms-Bold.otf") format("opentype");
}

@font-face {
  font-family: "TTNorms-Extra-Bold.otf";
  src: url("/fonts/TTNorms-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "TTNorms-ExtraBoldItalic.otf";
  src: url("/fonts/TTNorms-ExtraBoldItalic.otf") format("opentype");
}

body {
  font-family: "TTNorms-Regular.otf", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  flex-grow: 1;
}

.container {
  padding-left: 0px;
}

.site-header-init {
  position: relative;

  a {
    &:hover {
      color: var(--mainPurple);
    }
  }
}

// NAV STYLES
.site-header {
  transition: all 0.65s ease-in-out;
  background-color: var(--mainPurple);
  background-color: rgba(74, 25, 98, 1);
  margin-bottom: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  border-bottom: 2px solid #e7e7e7c7;
  font-family: "TTNorms-Bold.otf";

  &__listitem {
    position: relative;
    transition: color 500ms;
    letter-spacing: 1.3px;
    color: var(--mainPurple);
    font-size: 1.25rem;
    font-family: "TTNorms-Medium.otf";

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 0.2rem;
      transition: transform 0.2s;
      transform: scaleX(0);
      transform-origin: left top;
    }

    &:hover::after {
      transform: scaleX(1);
    }
    @media (min-width: 960px) {
      &:hover {
        text-decoration: none;
        // color: var(--mainPurple);
      }
      &:hover::after {
        background-color: var(--neonGreen);
      }
    }
  }

  &__list-item-wrapper {
    display: flex;
    justify-content: space-around;
    width: 800px;
  }

  &__brand-wrapper {
    &:hover {
      cursor: pointer;
    }
  }

  &__brand-wrapper__line {
    height: 3px;
    width: 40px;
    background-color: var(--neonGreen);
    transform: rotate(90deg);
    position: relative;
    top: 27px;
    left: -26px;
  }

  &__brand-name-init {
    color: var(--mainPurple);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    padding: 10px 0 10px;

    &__fine-web {
      font-weight: 700;
    }
  }

  &__brand-name {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 0 10px;
    margin: 0;
    font-family: Arial;
    letter-spacing: 2px;
    line-height: 1;

    img {
      width: 60%;
      transform: translateX(60px);

      @media (min-width: 960px) {
        width: 25%;
        transform: translateX(0px);
      }
    }

    &:hover {
      cursor: pointer;
    }
    @media (max-width: 960px) {
      font-size: 1rem;
      visibility: visible;
    }
  }

  &__brand {
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
  }

  &__brand--logo {
    padding-right: 10px;
    width: 70px;
    height: 70px;
  }

  &__menu-icon {
    position: absolute;
    right: 50px;
    width: 25px;
    height: 18px;
    top: 34%;
    // transform: translateY(-50%);
    transition: transform 0.15s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &--close-x {
      &::before {
        transform: rotate(45deg);
      }
      .site-header__menu-icon__middle {
        opacity: 0;
      }
      &::after {
        transform: rotate(-45deg) translateY(1px);
      }
    }

    &::before {
      content: "";
      background-color: #fff;
      background-color: var(--mainPurple);
      position: absolute;
      width: 25px;
      height: 2px;
      top: 0;
      transform-origin: 0 0;
      transition: 300ms ease-out;
    }

    &__middle {
      background-color: #fff;
      background-color: var(--mainPurple);
      position: absolute;
      width: 25px;
      height: 2px;
      top: 8px;
      transition: 300ms ease-out;
    }

    &::after {
      content: "";
      background-color: #fff;
      background-color: var(--mainPurple);
      position: absolute;
      width: 25px;
      height: 2px;
      bottom: 0;
      transform-origin: 0 100%;
      transition: 300ms ease-out;
    }

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__nav-active {
    text-decoration: underline;
  }

  &__nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 960px) {
      visibility: hidden;
    }
  }

  &__nav-list-item {
    list-style-type: none;
  }

  nav ul li a,
  li {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.side-nav {
  background-color: var(--secondaryRed);
  opacity: 0.97;
  width: 0;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.4s;
  z-index: 1;

  @media (min-width: 960px) {
    display: none;
  }
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #eee;
  display: block;
  transition: 0.3s;

  &:hover {
    color: #fff;
  }
}

.open-side-menu {
  width: 300px;
  width: 100%;
}

.btn-close {
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 15px;
  font-size: 36px;
  padding: 5px 10px;
  border-radius: 5px;
}

.side-nav-list-items {
  padding: 0;
  width: 50%;
  margin-left: 50%;

  a {
    text-align: right;
    border-bottom: 3px solid #fff;
    padding-right: 50px;

    &:hover {
      border-bottom: 3px solid #0cfb80;
    }
  }
}

.svg-wrapper {
  position: relative;
  top: 0%;
  transform: translateY(-150%);
  margin: 0 auto;
  width: 320px;
  transform: rotate(-3deg);
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: var(--neonGreen);
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transform: translateY(-60px);
}
