.footer {
  background: var(--mainPurple);
  background: var(--purpleGradient);
  color: var(--mainWhite);
  text-align: center;
  padding: 100px;
  position: relative;

  h3 {
    font-size: 2.5rem;
  }
  p {
    margin: 0;
  }
}

.footerBox {
  border: 10px solid var(--neonGreen);
  padding: 10px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 40px;
  left: 400px;
}
