.Footer {
  background: var(--mainPurple);
  background: var(--purpleGradient);
  color: var(--mainWhite);
  text-align: center;
  padding: 100px;
  position: relative;

  h3 {
    font-size: 2.5rem;
  }
  p {
    margin: 0;
  }

  &__inner {
    border-top: 1px solid #65587a;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  &__social {
    i {
      font-size: 1.5rem;
      margin-right: 15px;
    }
  }

  &__copyright {
    margin-bottom: 30px !important;
  }

  &__header {
    text-align: left;
    font-size: 1rem;
  }

  &__box {
    border: 4px solid var(--neonGreen);
    border-right: none;
    opacity: 0.8;
    width: 237px;
    height: 60px;
    position: absolute;
    top: -2px;
    left: -42px;
    transform: rotate3d(1.9, -0.8, -0.7, -1turn);
  }

  &__wrapper {
    position: relative;
    width: 200px;
    margin: 0 auto 30px;
  }
}

@media (min-width: 960px) {
  .Footer {
    &__inner {
      border-top: 1px solid #65587a;
      text-align: left;
      justify-content: space-between;
      flex-direction: row;
    }

    &__wrapper {
      width: 400px;
    }
  }
}
