.Footer {
  background: var(--mainPurple);
  background: var(--purpleGradient);
  color: var(--mainWhite);
  text-align: center;
  padding: 100px;
  position: relative;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  //   border: 10px solid #000;

  &__circleDecoration,
  &__circleDecoration2 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #01e471;
    // display: block;
    // transform: translate(940px, -35px);
    position: absolute;
    top: 44%;
    left: 70%;
  }

  &__circleDecoration2 {
    width: 1.2rem;
    height: 1.2rem;
    top: 51%;
    left: 80%;
    // transform: translate(1070px, -25px);
  }

  &__box {
    border: 4px solid var(--neonGreen);
    border: 8px solid var(--neonGreen);
    border-right: none;
    opacity: 0.4;
    width: 237px;
    width: 337px;
    height: 120px;
    position: absolute;
    top: -40px;
    left: -60px;
    transform: rotate3d(1.9, -0.8, -0.7, -1turn);
    transform: rotate3d(2.4, -0.9, -0.7, -3.3turn);
  }

  &__logoWrapper {
    position: relative;
    width: 200px;
    margin: 0 auto 0px;
  }

  &__inner {
    border-top: 1px solid #65587a;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  &__social {
    i {
      font-size: 1.5rem;
      margin-right: 15px;
    }
  }
  &__socialLink {
    color: #fff;

    &:hover {
      color: #aaa;
      color: var(--neonGreen);
    }
  }

  &__copyright {
    margin-bottom: 30px !important;
  }

  &__header {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 60px;
    // border-bottom: 7px solid var(--neonGreen);
    // padding: 40px 20px 20px;
    // position: relative;
    // top: 5px;
  }
}

@media (min-width: 960px) {
  .Footer {
    &__circleDecoration {
      top: 40%;
      left: 65%;
    }

    &__circleDecoration2 {
      top: 46%;
      left: 73%;
    }
    &__inner {
      border-top: 1px solid #65587a;
      text-align: left;
      justify-content: space-between;
      flex-direction: row;
    }

    &__header {
      font-size: 2.5rem;
      margin-bottom: 60px;
    }

    &__logoWrapper {
      width: 400px;
    }
  }
}
