.logo {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--mainWhite);
  margin-right: 60px;
  letter-spacing: 1px;
}
.logo:hover {
  transition: color 300ms;
}

.nav {
  background-color: var(--mainPurple);
  background: var(--purpleGradient);
}
