.mycard:hover {
  transition: transform 400ms ease-in-out;
  transform: translateY(-7px);
}

.innerCard:hover {
  box-shadow: 2px 2px 10px 10px var(--boxShadowGrey);
}

.cardImg {
  height: 100%;
}

.cardText {
  font-size: 16px;
  color: var(--secondaryText);
}

.cardTitle {
  font-size: 20px;
}

.Card {
  width: 22rem;
  textalign: center;
  boxshadow: 2px 2px 5px 5px var(--boxShadowGrey);
  margin: 20px;
  border-radius: 0.55em;
}
