.Portfolio {
  &__websites {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px auto;
    padding: 40px 0px;
    font-size: 1.5rem;
    width: 65%;
  }

  &__horizontalRow {
    height: 1.5px;
    margin: 0 auto;
    background-color: var(--secondaryText);
    opacity: 0;
    width: 0vw;
    transition: all 1s;
    &__trans {
      width: 65vw;
      opacity: 1;
    }
  }

  &__heading {
    background: #1f062c url("/domenico-loia-hGV2TfOh0ns-unsplash.jpg") no-repeat
      center;
    background-size: cover;
    background-blend-mode: screen;
    width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: var(--secondaryRed);
    font-weight: 700;
    font-size: 4rem;
    font-family: "TTNorms-Extra-Bold.otf";
    text-shadow: -2px 2px 2px #5e3a3a63;
  }

  &__subheading {
    color: var(--secondaryRed);
    font-family: "TTNorms-ExtraBoldItalic.otf";
    font-size: 2rem;
  }

  &__headerWrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2% 10px;
    border-radius: 5px;
    text-align: center;
  }

  &__websitesWrapper {
    text-align: center;
  }

  &__wrapperHeading {
    color: #3f224d;
    margin-top: 60px;
    font-size: 4rem;
    font-weight: 900;
    font-family: "TTNorms-Extra-Bold.otf";
  }
}
