body {
  margin: 0;
}

h1 {
  text-align: center;
}

.Nav {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 20px;

  .Logo a {
    color: #000;
    // text-decoration: none;
  }

  .Nav-items a {
    margin-right: 60px;
    text-decoration: none;
    color: #000;
  }

  .Nav-items a:hover {
    cursor: pointer;
    background-color: pink;
  }
}

.Portfolio-sites {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
  margin: 60px auto 0px;
  padding: 40px;
  font-size: 1.5rem;

  li {
    flex-basis: 33%;
    padding: 20px 0px;
  }

  li a {
    color: #000;
    text-decoration: none;
  }
}
